## Estruturas Condicionais

In [23]:
idade = 50
tem_habilitacao = False

if tem_habilitacao and idade >= 18:
    print("pode dirigir")
elif idade >= 18:
    print("pode tirar a cnh")
else:
    print("de menor, espere alguns anos")

print("comando fora do if")

pode tirar a cnh
comando fora do if

## Estrutura de repetição

In [32]:
#incremento

idade = 1

while idade < 18:
    print(idade, "de menor")
    idade = idade + 1

1 de menor
2 de menor
3 de menor
4 de menor
5 de menor
6 de menor
7 de menor
8 de menor
9 de menor
10 de menor
11 de menor
12 de menor
13 de menor
14 de menor
15 de menor
16 de menor
17 de menor

In [33]:
#perguntando algo

continuar = True
while continuar:
    resposta = input("Você deseja sair? (s)")
    if resposta == 's':
        break

Você deseja sair? (s) n
Você deseja sair? (s) n
Você deseja sair? (s) n
Você deseja sair? (s) n
Você deseja sair? (s) nn
Você deseja sair? (s) s

In [42]:
lista = [1,2,3,4,5,9,8,7,6]
soma = 0

dicionario = {'nome':'Poliana', 'idade': 25, 'profissao':'professora'}

for elemento in lista:
    if(elemento > 5):
        soma = soma + 1

#print(soma)

for chave, valor in dicionario.items():
    print(f"A chave é {chave}, e o valor é {valor}")

A chave é nome, e o valor é Poliana
A chave é idade, e o valor é 25
A chave é profissao, e o valor é professora

In [52]:
# objeto iterável range - inicial (incluso), final (n incluso), incremento
for i in range(4, 11, 2):
    print(i)

4
6
8
10

## Funções

In [55]:
def multiplica_e_soma(num1, b, c):
    mult = num1*b
    soma = mult+c
    return soma

In [56]:
multiplica_e_soma(2, 2, 4)

8

In [57]:
pessoas = []

def cadastro():
    nome = input("Qual o seu nome? ")
    cpf = input("Qual o seu cpf? ")
    idade = input("Qual a sua idade? ")
    dic = {'nome':nome, 'cpf':cpf, 'idade':idade}
    pessoas.append(dic)

In [60]:
cadastro()

Qual o seu nome?  Regina
Qual o seu cpf?  5848905483
Qual a sua idade?  26

In [61]:
pessoas

[{'nome': 'Poliana', 'cpf': '549859403589', 'idade': '25'},
 {'nome': 'Washington ', 'cpf': '578439578493', 'idade': '40'},
 {'nome': 'Regina', 'cpf': '5848905483', 'idade': '26'}]

In [62]:
matriz = [[1, 2], [3, 4]]

## APIs

In [64]:
#pip install requests

Requirement already satisfied: requests in /Users/pnferreira-m1/anaconda3/envs/koru/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/pnferreira-m1/anaconda3/envs/koru/lib/python3.11/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/pnferreira-m1/anaconda3/envs/koru/lib/python3.11/site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/pnferreira-m1/anaconda3/envs/koru/lib/python3.11/site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/pnferreira-m1/anaconda3/envs/koru/lib/python3.11/site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import requests

In [2]:
url = 'https://api.brasilaberto.com/v1/zipcode/45028170'

resposta = requests.get(url)

In [6]:
resposta.json()['result']['city']

'Vitória da Conquista'

### Big Query

In [1]:
#pip install google-cloud-bigquery

In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account

In [2]:
credenciais = service_account.Credentials.from_service_account_file(filename='koru-419914-1307a43ad7ad.json',
                                                                   scopes=['https://www.googleapis.com/auth/cloud-platform'])

In [3]:
client = bigquery.Client(credentials=credenciais)

In [4]:
dataset_id = 'koru-419914.iristeste'
table_id = 'koru-419914.iristeste.iris'

In [5]:
dataset = bigquery.Dataset(dataset_id)
dataset.location = 'US'
dataset = client.create_dataset(dataset, exists_ok=True)

In [6]:
schema = [
    bigquery.SchemaField("species", "STRING", mode="REQUIRED"),
    bigquery.SchemaField("petal_width", "FLOAT64", mode="REQUIRED"),
    bigquery.SchemaField("sepal_width", "FLOAT64", mode="REQUIRED"),
    bigquery.SchemaField("petal_length", "FLOAT64", mode="REQUIRED"),
    bigquery.SchemaField("sepal_length", "FLOAT64", mode="REQUIRED"),
]

In [7]:
tabela = bigquery.Table(table_id, schema=schema)
tabela = client.create_table(tabela, exists_ok=True)

In [8]:
import pandas as pd

df = pd.read_csv('IRIS.csv')

In [9]:
job = client.load_table_from_dataframe(df, table_id)
job.result()

LoadJob<project=koru-419914, location=US, id=7289c3cf-4a39-4f24-93f4-4f744cb38e6f>

In [10]:
query = 'SELECT * FROM `iristeste.iris`'

In [11]:
client.query(query).to_dataframe()

             species  petal_width  sepal_width  petal_length  sepal_length
0    Iris-versicolor          1.1          2.5           3.0           5.1
1    Iris-versicolor          1.0          2.0           3.5           5.0
2    Iris-versicolor          1.0          2.6           3.5           5.7
3    Iris-versicolor          1.0          2.2           4.0           6.0
4    Iris-versicolor          1.2          2.6           4.0           5.8
..               ...          ...          ...           ...           ...
145      Iris-setosa          0.2          3.2           1.3           4.7
146      Iris-setosa          0.2          3.5           1.3           5.5
147      Iris-setosa          0.2          3.0           1.3           4.4
148      Iris-setosa          0.2          3.2           1.3           4.4
149      Iris-setosa          0.4          3.9           1.3           5.4

[150 rows x 5 columns]